$body-color:#d1b0b7;
$circl-color:#e09d89;
$main-color:#fcf1ed;
$separator-color:#fce5d7;
$orange-frame:#d9a47e;
$orange-font:#e69257;
$dark-orange:#a75b24;
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap') ;
$main-font:"Caveat", cursive;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis:wght@200;700&family=Nanum+Myeongjo&family=Raleway&display=swap');
$second-font:'Nanum Myeongjo', serif;;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis:wght@200;700&family=Nanum+Myeongjo&family=Nothing+You+Could+Do&family=Raleway&display=swap');
$special-font: 'Nothing You Could Do', cursive;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis:wght@200;700&family=Nanum+Myeongjo&family=Nothing+You+Could+Do&family=Raleway&display=swap');
$thin-font: 'Raleway', sans-serif;